/*
    Write your style definitions here.
    By default, webpack expects to find SugarSS ("Indent-based CSS syntax for PostCSS.")
    @see https://github.com/postcss/sugarss
*/
.section
    font-size: 14px
    padding: 20px

.cubbles_container
    padding: 20px
    margin: 20px
    border-radius: 15px
    background-color: aliceblue

.vue_container
    padding: 20px
    margin: 20px
    border-radius: 15px
    background-color: #4caf502e
