<template id="<%= elementName %>">
    <!-- <%= elementName %> -->
    <section class="<%= webpackageName %>_section">
        <div class="<%= webpackageName %>_cubbles_container">
            <h2>Cubbles Component</h2>
            <label for="slotNumber">Slot 'number'</label>
            <input type="range" id="slotNumber">
        </div>
        <div class="<%= webpackageName %>_vue_container">
            <h2>Vue component</h2>
            <div id="vueComponent"></div>
        </div>
    </section>
</template>
